<!DOCTYPE htm>
<html>
	<head>
		<title>Novo Motorista</title>
		<meta charset="utf-8">
	</head>
	<body>
		<h1>Novo Motorista</h1>
	
		<form action="/motorista/novo2" method="post">
			<span for="id">ID:</span>
			<input type="text" name="id"> <br>
			
			<span for="nome">Nome:</span>
			<input type="text" name="nome"> <br>
			
			<span for="cpf">CPF:</span>
			<input type="text" name="cpf"> <br>
			
			<span for="cnh">CNH:</span>
			<input type="text" name="cnh"> <br>
			
			<input type="submit" value="Enviar">
		</form>
	</body>
</html>

